.root
  align-items center

.title
  text-align center
  margin-top 4u

.cards
  margin-top 4u

.actions
  flex 1
  width 100%
  flex-direction row
  flex-basis auto
  justify-content space-between

.btn
  margin-top 4u