.content
  max-width 600px

.header
  flex-direction row
  justify-content space-between
  align-items center
  margin-top 2u

.actions
  flex-direction row

.h2
  line-height 20px

.btn
  width 120px
  margin-left 1u